/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'Press Start 2P';
  --main-text-size: 18px;
  --accent-text-size: 14px;
  --title-text-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --sutitle-text-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --background-color: #FFFFFF;
  --background-image: url(../images/background-desktop.png);
  --counter-color: #000;
  --sparks-color: red;
  --heart-main: red;  
}